<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @font-face {
                font-family: 'vazir';
                src: url("/factor/Vazirmatn-Regular.ttf") format("ttf"),
                        url("/factor/Vazirmatn-Regular.woff2") format("woff2")
            }
        </style>
    </head>
    <body style="direction: rtl;font-family: vazir;">
        <div style="max-width: 8cm; padding: 20px;">
            <div style="text-align: center;">
                <img src="/factor/logo-type.png" style="width: 4cm;">
            </div>
            <div style="margin:0 -40px 0 -40px;">
                <ul style="list-style: none;">
                    <li style="font-size: 13px;font-weight: 700;"><span style=" font-weight: 300;font-size: 16px;">شماره فاکتور : </span>17278127879083467</li>
                    <li style="font-size: 13px;font-weight: 700;"><span style=" font-weight: 300;font-size: 16px;">ساعت و تاریخ : </span>14:23 - 1404/02/17</li>
                    <li style="font-size: 13px;font-weight: 700;"><span style=" font-weight: 300;font-size: 16px;">کاربر : </span>نسخه آنلاین | داروخانه دکتر قهرمانی</li>
                </ul>
            </div>
            <hr />
            <div style="margin:0 -40px 0 -40px;">
                <ul style="list-style: none;">
                    <li style="font-size: 13px;font-weight: 700;"><span style=" font-weight: 300;font-size: 16px;">نوع بیمه : </span>تامین اجتماعی</li>
                    <li style="font-size: 13px;font-weight: 700;"><span style=" font-weight: 300;font-size: 16px;">نام و نام خانوادگی : </span>پدرام صفری</li>
                    <li style="font-size: 13px;font-weight: 700;"><span style=" font-weight: 300;font-size: 16px;">کدملی : </span>0022263756</li>
                    <li style="font-size: 13px;font-weight: 700;"><span style=" font-weight: 300;font-size: 16px;">کدرهگیری : </span>923092378</li>
                </ul>
            </div>
            <hr />
            <div style="border: 1px solid #000;border-radius: 5px;">
                <table>
                    <tr style="text-align: center;background-color: #DADADA;">
                        <td style="width: 10%; border-left: 1px solid #000; font-size: 12px;font-weight: 700;">ردیف</td>
                        <td style="width: 80%; border-left: 1px solid #000;font-size: 14px;font-weight: 700;">شرح</td>
                        <td style="width: 10%;font-size: 14px;font-weight: 700;">تعداد</td>
                    </tr>
                </table>
            </div>
            <div style="width: 100%; margin-top: 5px;">
                <table style="width: 100%;border: 1px solid #000;border-radius: 5px;border-bottom: none;">
                    <tr style="text-align: center;">
                        <td style="width: 10%; border-left: 1px solid #000;border-bottom: 1px solid #000; font-size: 13px;font-weight: 500;">1</td>
                        <td style="width: 80%; border-left: 1px solid #000;border-bottom: 1px solid #000;font-size: 13px;font-weight: 500;">استامینوفن 350 - قرص- ورق</td>
                        <td style="width: 10%;font-size: 13px;border-bottom: 1px solid #000;font-weight: 500;">1</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td style="width: 10%; border-left: 1px solid #000;border-bottom: 1px solid #000; font-size: 13px;font-weight: 500;">1</td>
                        <td style="width: 80%; border-left: 1px solid #000;border-bottom: 1px solid #000;font-size: 13px;font-weight: 500;">استامینوفن 350 - قرص- ورق</td>
                        <td style="width: 10%;font-size: 13px;border-bottom: 1px solid #000;font-weight: 500;">1</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td style="width: 10%; border-left: 1px solid #000;border-bottom: 1px solid #000; font-size: 13px;font-weight: 500;">1</td>
                        <td style="width: 80%; border-left: 1px solid #000;border-bottom: 1px solid #000;font-size: 13px;font-weight: 500;">استامینوفن 350 - قرص- ورق</td>
                        <td style="width: 10%;font-size: 13px;border-bottom: 1px solid #000;font-weight: 500;">1</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td style="width: 10%; border-left: 1px solid #000;border-bottom: 1px solid #000; font-size: 13px;font-weight: 500;">1</td>
                        <td style="width: 80%; border-left: 1px solid #000;border-bottom: 1px solid #000;font-size: 13px;font-weight: 500;">استامینوفن 250 - قرص- ورق</td>
                        <td style="width: 10%;font-size: 13px;border-bottom: 1px solid #000;font-weight: 500;">1</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>